deploymentStrategy:
  type: Recreate

namespace:
  name: sonarr

serviceAccount:
  name: sonarr-admin

nfsServerIP: 192.168.1.96

iscsi:
  targetIP: 192.168.1.226:3260
  iqn: iqn.2025-02.home.lib-pi-06:lib-pi-06-target
  lun: 0

configVolume:
  accessMode: ReadWriteOnce
  pv:
    name: sonarr-config-pv
  pvc:
    name: sonarr-config-pvc
  capacity: 1Gi

mediaVolume:
  accessMode: ReadWriteMany
  pv:
    name: media-pv
  pvc:
    name: media-pvc
  nfs:
    capacity: 10Ti
    path: /media

downloadsVolume:
  accessMode: ReadWriteMany
  pv:
    name: sonarr-downloads-pv
  pvc:
    name: sonarr-downloads-pvc
  nfs:
    capacity: 100Gi
    path: /downloads

deployment:
  name: sonarr-deployment

labels:
  app: sonarr-app

pod:
  name: sonarr-pod
  securityContext:
    runAsUser: 0

container:
  name: sonarr
  image: lscr.io/linuxserver/sonarr
  tag: arm64v8-4.0.16

service:
  name: sonarr-service
  portName: http-port
  port: 8989
  targetPort: 8989

ingress:
  name: sonarr-ingress
  hostName: sonarr.houli.eu
