global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'node_exporter'
    static_configs:
      - targets:
          {% for host in groups['all_nodes'] %}
          - '{{ host }}:9100'  # Use the hostname instead of the IP
          {% endfor %}
          - 'lib-hp-01.home:9100'  # manually adding this node as it doesn't play well with the ansible role

  - job_name: 'kubelet-cadvisor'
    scheme: https
    tls_config:
      insecure_skip_verify: true
    bearer_token: '{{ prometheus_scraper_token }}'
    metrics_path: /metrics/cadvisor
    static_configs:
      - targets:
          {% for host in groups['k3s_cluster'] %}
          - '{{ host }}:10250'
          {% endfor %}

  - job_name: 'kube-state-metrics'
    scheme: https
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets:
          - 'ksm.houli.eu:443'

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: blackbox # To get metrics about the exporter itself
    scheme: https
    metrics_path: /metrics
    static_configs:
      - targets:
        - blackbox.houli.eu

  - job_name: blackbox-http
    scheme: https
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
    - targets:
      - https://transmission.houli.eu
      - https://sonarr.houli.eu
      - https://radarr.houli.eu
      - https://prowlarr.houli.eu
      - https://grafana.houli.eu
      - https://prometheus.houli.eu
      - http://omv.houli.eu
      - https://ksm.houli.eu
      - https://blackbox.houli.eu
      - https://longhorn.houli.eu
      - https://plex.houli.eu/web/index.html
      - https://jenkins.houli.eu/login
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        regex: (https?://[^/]+)(?:/.*)?
        replacement: ${1}
        target_label: instance
      - target_label: __address__
        replacement: blackbox.houli.eu

rule_files:
  - "rules/*.yml"

alerting:
  alertmanagers:
    - scheme: https
      tls_config:
        insecure_skip_verify: true
      static_configs:
        - targets: ['alertmanager.houli.eu:443']
