deploymentStrategy:
  type: Recreate

clusterType: k3s

namespace:
  name: prowlarr

serviceAccount:
  name: "prowlarr-admin"

iscsi:
  targetIP: 192.168.1.226:3260
  iqn: iqn.2025-02.home.lib-pi-06:lib-pi-06-target
  lun: 1

configVolume:
  capacity: 1Gi
  pv:
    name: "prowlarr-pv"
  pvc:
    name: "prowlarr-pvc"

deployment:
  name: prowlarr

labels:
  app: "prowlarr-app"

pod:
  name: "prowlarr-pod"

container:
  name: prowlarr
  image: lscr.io/linuxserver/prowlarr
  tag: arm64v8-2.1.5

service:
  name: "prowlarr-service"
  portName: "http-port"
  targetPort: 9696
  port: 9696

ingress:
  name: "prowlarr-ingress"
  hostName: "prowlarr.houli.eu"
