deploymentStrategy:
  type: Recreate

namespace:
  name: plex

serviceAccount:
  name: plex-admin

nfsServerIP: 192.168.1.96

iscsi:
  targetIP: 192.168.1.226:3260
  iqn: iqn.2025-02.home.lib-pi-06:lib-pi-06-target

configVolume:
  lun: 2
  pv:
    name: plex-config
  pvc:
    name: plex-config
  capacity: 12Gi

transcodeVolume:
  lun: 3
  pv:
    name: plex-transcode
  pvc:
    name: plex-transcode
  capacity: 11Gi

mediaVolume:
  accessMode: ReadWriteMany
  pv:
    name: plex-media
  pvc:
    name: plex-media
  nfs:
    path: /media
    capacity: 4Ti

secret:
  name: plex-secret
  plexClaimToken: SECRET-PLEX-CLAIM-ID - See README

deployment:
  name: plex-deployment

labels:
  app: plex-app

pod:
  name: plex-pod
  securityContext:
    runAsUser: 0

container:
  name: plex-container
  image: ghcr.io/linuxserver/plex:arm64v8-1.42.2

service:
  http:
    name: http
    port: 32400
    targetPort: 32400
    protocol: TCP
  discovery:
    name: plex-gdm
    protocol: UDP
    port0:
      name: gdm-0
      port: 32410
      targetPort: 32410
    port2:
      name: gdm-2
      port: 32412
      targetPort: 32412
    port3:
      name: gdm-3
      port: 32413
      targetPort: 32413
    port4:
      name: gdm-4
      port: 32414
      targetPort: 32414

ingress:
  http:
    name: plex-ingress
    hostName: plex.home
  plexGdm0:
    entryPoint: plex-gdm-0
  plexGdm2:
    entryPoint: plex-gdm-2
  plexGdm3:
    entryPoint: plex-gdm-3
  plexGdm4:
    entryPoint: plex-gdm-4
  plextcp:
    name: plex-tcp
    entryPoint: plex-tcp
