# HTTP server block for Prometheus
server {
    listen 80;
    server_name prometheus.houli.eu;  # Use prometheus domain

    # Redirect all HTTP traffic to HTTPS
    return 301 https://$host$request_uri;
}

# HTTPS server block for Prometheus
server {
    listen 443 ssl;
    server_name prometheus.houli.eu;  # Use prometheus domain

    ssl_certificate /etc/nginx/certs/fullchain.pem;
    ssl_certificate_key /etc/nginx/certs/privkey.pem;

    location / {
        proxy_pass http://prometheus:9090;  # Proxy traffic to Prometheus container
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
