server {
    listen 80;
    server_name grafana.home;

    location / {
        proxy_pass http://grafana:3000;  # Proxy traffic to Grafana container
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

server {
    listen 80;
    server_name prometheus.home;

    location / {
        proxy_pass http://prometheus:9090;  # Proxy traffic to Prometheus container
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
