---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.deployment.name }}
  namespace: {{ .Values.namespace.name }}
  labels:
    app: {{ .Values.labels.app }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.labels.app }}
  template:
    metadata:
      name: {{ .Values.pod.name }}
      labels:
        app: {{ .Values.labels.app }}
    spec:
      serviceAccountName: {{ .Values.serviceAccount.name }}
      restartPolicy: Always
      containers:
        - name: {{ .Values.container.name }}
          image: {{ .Values.container.image }}
          imagePullPolicy: Always
          securityContext:
            runAsUser: {{ .Values.pod.securityContext.runAsUser }}
          volumeMounts:
            - name: plex-config
              mountPath: /config
            - name: plex-transcode
              mountPath: /transcode
            - name: plex-media
              mountPath: /media
          ports:
            - name: {{ .Values.service.http.name }}
              containerPort: {{ .Values.service.http.targetPort }}
              protocol: {{ .Values.service.http.protocol }}
            - name: {{ .Values.service.discovery.port0.name }}
              containerPort: {{ .Values.service.discovery.port0.port }}
              protocol: {{ .Values.service.discovery.protocol }}
            - name: {{ .Values.service.discovery.port2.name }}
              containerPort: {{ .Values.service.discovery.port2.port }}
              protocol: {{ .Values.service.discovery.protocol }}
            - name: {{ .Values.service.discovery.port3.name }}
              containerPort: {{ .Values.service.discovery.port3.port }}
              protocol: {{ .Values.service.discovery.protocol }}
            - name: {{ .Values.service.discovery.port4.name }}
              containerPort: {{ .Values.service.discovery.port4.port }}
              protocol: {{ .Values.service.discovery.protocol }}
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "Europe/Prague"
            - name: HOSTNAME
              value: "PlexServer"
            - name: PLEX_CLAIM
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secret.name }}
                  key: PLEX_CLAIM
            - name: ADVERTISE_IP
              value: "http://plex.home:32400,http://192.168.1.133:32400"
      volumes:
        - name: plex-config
          persistentVolumeClaim:
            claimName: {{ .Values.configVolume.pvc.name }}
        - name: plex-transcode
          persistentVolumeClaim:
            claimName: {{ .Values.transcodeVolume.pvc.name }}
        - name: plex-media
          persistentVolumeClaim:
            claimName: {{ .Values.mediaVolume.pvc.name }}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: iscsi_initiator
                    operator: In
                    values:
                      - "true"
                  - key: memory
                    operator: In
                    values:
                      - "8.0GB"
