---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteTCP
metadata:
  name: {{ .Values.ingress.plextcp.name }}
  namespace: {{ .Values.namespace.name }}
spec:
  entryPoints:
    - {{ .Values.ingress.plextcp.entryPoint }}
  routes:
  - match: HostSNI(`*`)
    services:
    - name: {{ .Values.service.http.name }}
      port: {{ .Values.service.http.port }}
  tls:
    passthrough: true
