global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'node_exporter'
    static_configs:
      - targets:
          {% for host in groups['node_exporters'] %}
          - '{{ host }}:9100'  # Use the hostname instead of the IP
          {% endfor %}
          - 'lib-hp-01.home:9100'  # manually adding this node as it doesn't play well with the ansible role

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

rule_files:
  - "rules/*.yml"
