version: '3.3'

services:
    transmission-openvpn:
        container_name: transmission
        cap_add:
            - NET_ADMIN
        volumes:
            - transmission-data:/data'
            - transmission-config:/config
        environment:
            - OPENVPN_PROVIDER=PROTONVPN
            - OPENVPN_USERNAME={{ OPENVPN_USERNAME }}
            - OPENVPN_PASSWORD={{ OPENVPN_PASSWORD }}
            - OPENVPN_CONFIG=nl.protonvpn.net.udp
            - LOCAL_NETWORK=192.168.1.0/24
        logging:
            driver: json-file
            options:
                max-size: 10m
        ports:
            - '9091:9091'
        image: haugene/transmission-openvpn
        restart: on-failure

volumes:
  transmission-config:
    driver: local
    driver_opts:
      type: "nfs"
      o: "addr=192.168.1.96,rw,nfsvers=4"
      device: ":/transmission"

  transmission-data:
    driver: local
    driver_opts:
      type: "nfs"
      o: "addr=192.168.1.96,rw,nfsvers=4"
      device: ":/media"
